@model Palestra.Models.Palestrante
<div class="panel panel-default">
    <div class="panel-heading">Deseja realmente remover este Palestrante ?</div>
    <form action="" method="post">
        <div class="formularioCadastro">
            <div class="form-group">
                <label for="@Model.Nome">Nome</label>
                <input type="text" id="Nome" class="form-control" name="Nome" value="@Model.Nome" />
                <br />
                <label for="@Model.Twitter">Twitter</label>
                <input type="text" id="Nome" class="form-control" name="Nome" value="@Model.Twitter" />
            </div>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>
    </form>
    </div>
