@model Palestra.Models.Sala

<div style="padding-left: 500px;">
    <div style="width: 400px;padding:100px;border-radius: 20px;background-color:#9ba1eb">
        <p style="font-family:cursive;font-size: 16px">Alterar Registro</p>
        <form role="form" action="/" method="post">
            <input type="hidden" value="ID" />
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input class="form-control" id="Nome" placeholder="Nome da Sala">
                <span id="validate"></span>
            </div>
            <div class="form-group">
                <label for="Bio">Bio</label>
                <input class="form-control" id="Bio" value="Bio" >
            </div>
            <div class="form-group">
                <label for="Twitter">Twitter</label>
                <input class="form-control" id="Twitter" value="Twitter">
            </div>
            <button type="submit" class="btn btn-default" id="Register">Modificar</button>
        </form>
    </div>
</div>

