<form action="" method="post" class="form-group">
    <input type="text" value="" name="Login" id="Login"/>
    <input type="text" value="" name="Senha" id="Login" />
    <button type="submit">Logar</button>
</form>
