<div style="padding: 30px;">
    <div style="padding-bottom: 10px">
        <a href="@Url.Action("Cadastrar","Trilha")"><button type="button" class="btn btn-success">Nova Trilha</button></a>
    </div>
    
    <table class="table">
        <tr>
            <th>
                Trilha
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @for (int i = 0; i < 3; i++)
        {
            <tr>
                <td>Desenvolvimento</td>
                <td><a href="@Url.Action("Detalhe","Trilha")" style="text-decoration: none;" class="glyphicon glyphicon-tasks"></a></td>
                <td><a href="@Url.Action("Editar","Trilha")" style="text-decoration: none;" class="glyphicon glyphicon-pencil"></a></td>
                <td><a href="@Url.Action("Delete","Trilha")" style="text-decoration: none;" class="glyphicon glyphicon-remove"></a></td>
            </tr>

        }

    </table>
</div>