body {
}
.PalestraMenu {
    padding-left: 60px;
    padding-right: 50px;
    font-family: Segoe UI;
    font-size: 15px;
}
.Menu {
    background-color: #030444;
   border-radius: 5px;
}
.PalestraItems li {
    padding: 30px;
    display: inline-block;
}
.PalestraItems li:hover {
    background-color: #9f93a5;
}
.PalestraItems li a {
    color: #fff;
    text-decoration: none;
}
.PalestraItems li a:hover {
    color: #912cbd;
}
.col-md-3 {
    padding-top: 10px;
}
.formulario  {
   width:250px;padding:5px;border-radius:5px;background-color:#4ebf6b;float: left;
}
.formularioPalestrantes {
   width:150px;padding:5px;border-radius:5px;background-color:#6b80b2;float: left;
}
.formularioPalestrantes img {
    float: left;
    padding: 5px;
}
.formulario img {
    float: left;
    padding: 10px;
}
.formularioCadastro{
    padding:40px;
    width:300px;
}