body {
}
.col-md-3 {
    padding-top: 10px;
}
.formulario  {
   width:250px;padding:5px;border-radius:5px;background-color:#4ebf6b;float: left;
}
.formularioPalestrantes {
   width:150px;padding:5px;border-radius:5px;background-color:#6b80b2;float: left;
}
.formularioPalestrantes img {
    float: left;
    padding: 5px;
}
.formulario img {
    float: left;
    padding: 10px;
}
.formularioCadastro{
    padding:40px;
    width:300px;
}