@model Palestra.Models.Palestras
<div class="panel panel-default">
    <div class="panel-heading">Deseja realmente remover essa Palestra ?</div>
    <form action="" method="post">
        <div class="formularioCadastro">
            <div class="form-group">
                <label for="@Model.Nome">Palestra</label>
                <input type="text" id="Nome" class="form-control" name="Nome" value="@Model.Nome" />
                <br />
                <label for="@Model.Titulo">Titulo</label>
                <input type="text" id="Titulo" class="form-control" name="Titulo" value="@Model.Titulo" />
            </div>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>
    </form>
</div>
